.family04pre {
  display: flex;
  /* width: 1440px; */
  padding: 50px 52px;
  background: #f5f5f7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.family6cadre {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
