.home01 {
  /* width: 100%; */
  display: flex;
  padding: 60px 62px 60px 62px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #f6f6f6;
}

.homepresentation {
  display: flex;
  width: 100%;
  padding: 86px 643px 86px 53px;
  align-items: start;
  border-radius: 40px;
  background-image: url("../img/home\ l.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homepertext {
  width: 619px;
  height: 560px;
  padding: 10px;
  align-items: start;
  padding-left: 20px;
}

.homepertext h1 {
  color: #000;
  font-family: Itim;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.homepertext p {
  color: #f6f6f6;
  font-family: inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 130% */
  letter-spacing: 0.2px;
}
.home2but {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 33px;
  gap: 20px;
  padding: 20px 0px;
}
.home5text {
  display: flex;
  width: 548px;
  height: 66px;
  padding: 19px 0;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0 30px;
  flex-wrap: wrap;
  margin-top: 54px;
}
.home02 {
  display: flex;
  padding: 60px 62px 60px 62px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #f6f6f6;
  flex-wrap: wrap;
  gap: 10px;
}
.home02pre {
  display: flex;
  width: 100%;
  height: 738px;
  overflow: hidden;
  border-radius: 40px;
  background-image: url("../img/Frame\ 134.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  gap: 255px;
  margin-top: 8px;
}
.container {
  display: flex;
  gap: 350px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-top: 230px;
  justify-content: center;
}
.home03 {
  display: flex;
  padding: 60px 62px 60px 62px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #f6f6f6;
  flex-wrap: wrap;
  gap: 62px;
}
.home03pre {
  display: flex;
  width: 100%;
  height: 270px;
  padding: 1px 2px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 22px;
}
.home04 {
  display: flex;
  padding: 60px 62px 60px 62px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #f6f6f6;
  flex-wrap: wrap;
  gap: 55px;
}
.home04pre {
  display: flex;
  width: 1315px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;
}
.home04pref1 {
  flex: 1;
  padding: 5px;
  padding-left: 50px;
  max-width: 510px;
  height: 629px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 40px;
}
.home04pref2 {
  flex: 1;
  border-radius: 40px;
  /* padding: 40px; */
}
