.familyinfo {
  display: flex;
  padding: 10px 62px 60px 62px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #f6f6f6;
  flex-wrap: wrap;
  gap: 55px;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
.familyinfpre {
  display: flex;
  width: 1315px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;
}
.familyinfpref1 {
  flex: 1;
  padding: 40px;
  height: 629px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.familyinfpref2 {
  display: flex;
  border-radius: 40px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.finff1inf {
  /* width: 567px;
    height: 629px; */
  border-radius: 40px;
  background: #eeeef2;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  justify-content: start;
}
.textinf {
  color: #000;
  font-family: Itim;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 54px */
}
.infname {
  display: flex;
  /* width: 248px; */
  padding: 16px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  border-radius: 400px;
  background: #fff;
  color: #000;
  text-align: center;
  font-family: Itim;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.twobut {
  display: flex;
  padding: 19px 0;
  gap: 20px;
}
.button {
  display: flex;
  padding: 16px;
  width: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 400px;
  background: #fff;
}
.butclose {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 400px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition:
    background-color 0.25s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.butclose:hover {
  background-color: #ffffff;
  transform: scale(1.3);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.svg {
  width: 35px;
  height: 35px;
}
.button:hover {
  background-color: #ffffff;
  transform: scale(1.3);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}
