.familyinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #f6f6f6;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.familyinfpre {
  display: flex;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;

  transform: translateX(100%);
  opacity: 0;

  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.familyinfpre.show {
  transform: translateX(0);
  opacity: 1;
}

.familyinfpre.hide {
  transform: translateX(100%);
  opacity: 0;
}

.familyinfpref1 {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.familyinfpref2 {
  flex: 1;
  display: flex;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}
.finff1inf {
  border-radius: 40px;
  background: #eeeef2;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: start;
  gap: 5px;
}
.textinf {
  color: #000;
  font-family: Itim;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
.infname {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 400px;
  background: #fff;
  color: #000;
  text-align: center;
  font-family: Itim;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button {
  display: flex;
  padding: 16px;
  width: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 400px;
  background: #fff;
}
.butclose {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 400px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition:
    background-color 0.25s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.butclose:hover {
  background-color: #ffffff;
  transform: scale(1.3);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.svg {
  width: 35px;
  height: 35px;
}
.button:hover {
  background-color: #ffffff;
  transform: scale(1.3);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}
.falinfStyleimg {
  width: 600px;
  height: 600px;
}
@media (max-width: 768px) {
  .familyinfpre {
    flex-direction: column;
  }
  .textinf {
    font-size: 20px;
    line-height: 130%;
  }
  .falinfStyleimg {
    width: 250px;
    height: 250px;
  }
  .familyinfo {
    /* padding: 2%; */
  }
}
