.navbar {
  display: flex;
  flex-wrap: nowrap;
  height: 90px;
  padding: 0 60px;
  margin-top: 0;
  align-items: center;
  justify-content: space-between;
}
.dachboard {
  padding: 16px 35px;
  justify-content: center;
  border-radius: 400px;
  background: var(--light-grey-input-fiels-forms, #f6f6f6);
  gap: 45px;
  display: flex;
  justify-content: space-between;
}
.navbarbut {
  display: inline-flex;
  padding: 6px 35px;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  gap: 10px;
  height: 51px;
  border-radius: 400px;
  background: var(--light-grey-input-fiels-forms, #f6f6f6);
  border: 0;
}
.nav-link {
  position: relative;
  color: black;
  text-decoration: none;
  /* font-weight: 500; */
  /* padding: 6px 0; */
  transition: color 0.3s ease;
}

.nav-link.active {
  color: #7c736a;
}

.nav-link.active::after {
  width: 100%;
}
