.navbar {
  display: flex;
  flex-wrap: nowrap;
  height: 80px;
  padding: 0 60px;
  margin-top: 0;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  inset: 0;
}
.dachboard {
  padding: 16px 35px;
  justify-content: center;
  border-radius: 400px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  gap: 60px;
  display: flex;
  justify-content: space-between;
}
.navbarbut {
  display: inline-flex;
  padding: 6px 35px;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  gap: 10px;
  height: 51px;
  border-radius: 400px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0;
}
.nav-link {
  position: relative;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: transform 0.1s ease;
}

.nav-link:active {
  transform: translateY(6px);
  color: #685F56;
}
.nav-link.active {
  color: #685F56;
}
