.navbar {
  display: flex;
  flex-wrap: nowrap;
  height: 80px;
  padding: 0 60px;
  margin-top: 0;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  inset: 0;
  z-index: 900;
}
.dachboard {
  padding: 16px 35px;
  justify-content: center;
  border-radius: 400px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  gap: 60px;
  display: flex;
  justify-content: space-between;
}
.navbarbut {
  display: inline-flex;
  padding: 6px 35px;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  gap: 10px;
  height: 51px;
  border-radius: 400px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0;
  cursor: pointer;
}
.nav-link {
  position: relative;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: transform 0.1s ease;
}

.nav-link:active {
  transform: translateY(6px);
  color: #685f56;
}
.nav-link.active {
  color: #685f56;
}
.navbarphone {
  position: fixed;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.dachboardphone {
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  gap: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navbarbutphone {
  height: 40px;
  position: fixed;
  inset: 0;
  z-index: 951;
  display: none;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .navbarphone {
    display: flex;
    z-index: 950;
  }
  .navbarbutphone{
    display: flex;
  }
  
}
